- content_for :head do
  %title Graphika Manila

%section.background
  %img{src: 'images/background.jpg', alt: ''}

%section.info
  %h1 Graphika Manila

  %p
    August 11, 2012
    %br
    SMX Convention Center
    %br
    Mall of Asia Complex, Pasay, Metro Manila

